@model MVCSampleApp.Models.Menu
@{
    ViewBag.Title = "Label Tag Helper";
}
<h2>@ViewBag.Title</h2>
<label asp-for="Text"></label>
<br />
<label asp-for="Price"></label>
<br />
<label asp-for="Date"></label>
