@addTagHelper *, TagHelperSamples
@{
    ViewData["Title"] = "Markdown";
}

<h2>Markdown</h2>

<markdown>
## This is simple Markdown

[C# Blog](https://csharp.christiannagel.com)

* one
* two
* three
</markdown>

