@page "{id:int}"
@model RazorPagesSample.Pages.PageWithParameterAndBindingModel
@{
    ViewData["Title"] = "PageWithParameterAndBinding";
}

<h2>Razor Page With Parameter and Binding</h2>
<div>Received this parameter value: @Model.Id</div>
