@page "{id:int?}"
@model RazorPagesSample.Pages.PageWithParameterModel
@{
    ViewData["Title"] = "PageWithParameter";
}

<h2>Razor Page With Parameter</h2>

<div>Received this parameter value: @Model.Id</div>

