<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Daily CLI Build" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Daily Build" value="https://dotnet.myget.org/f/aspnetcore-dev/api/v3/index.json" />
    <add key="ASPNETCoreTools" value="https://dotnet.myget.org/F/aspnetcore-tools/api/v3/index.json" />
  </packageSources>
</configuration>