@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                Understanding Action Methods
                <ul>
                    <li><a href="/Home/Hello">Hello</a></li>
                </ul>
            </li>
            <li>
                Using Parameters
                <ul>
                    <li><a href="/Home/Greeting?name=Stephanie">Parameter</a></li>
                    <li><a href="/Home/Greeting2/Matthias">Id-Parameter</a></li>
                    <li><a href="/Home/Add/38/4">Multiple Parameters</a></li>
                </ul>
            </li>
            <li>
                Returning Data
                <ul>
                    <li><a href="/Result/ContentDemo">Content</a></li>
                    <li><a href="/Result/JsonDemo">JSON</a></li>
                    <li><a href="/Result/RedirectDemo">Redirect</a></li>
                    <li><a href="/Result/RedirectRouteDemo">Redirect Route</a></li>
                    <li><a href="/Result/FileDemo">File</a></li>
                </ul>
            </li>
            <li>
                POCO Controller
                <ul>
                    <li><a href="/POCO/Index">Index</a></li>
                    <li><a href="/POCO/UserAgentInfo">User Agent</a></li>
                </ul>
            </li>
            <li>
                Views
                <ul>
                    <li><a href="/ViewsDemo/Index">Index</a></li>
                    <li><a href="/ViewsDemo/PassingData">ViewBag</a></li>
                    <li><a href="/ViewsDemo/PassingAModel">Model</a></li>
                    <li><a href="/ViewsDemo/LayoutSample">Layout</a></li>
                    <li><a href="/ViewsDemo/LayoutUsingSections">Layout with sections</a></li>
                    <li><a href="/ViewsDemo/UseAPartialView1">Partial view</a></li>
                    <li><a href="/ViewsDemo/UseAPartialView2">Partial view with controller</a></li>
                    <li><a href="/ViewsDemo/UseViewComponent1">View component</a></li>
                    <li><a href="/ViewsDemo/UseViewComponent2">View component with tag helper</a></li>
                    <li><a href="/ViewsDemo/InjectServiceInView">Inject Service in View</a></li>
                </ul>
            </li>
            <li>
                Submit Data
                <ul>
                    <li><a href="/SubmitData/CreateMenu">Create Menu with separate parameters</a></li>
                    <li><a href="/SubmitData/CreateMenu2">Create Menu with model binder</a></li>
                    <li><a href="/SubmitData/CreateMenu3">Create Menu using TryUpdateModel</a></li>
                    <li><a href="/SubmitData/CreateMenu4">Create Menu with annotations</a></li>
                </ul>
            </li>
            <li>
                HTML Helpers
                <ul>
                    <li><a href="/HtmlHelpers/SimpleHelper">Simple HTML Helper</a></li>
                    <li><a href="/HtmlHelpers/HtmlAttributes">HTML Attributes</a></li>
                    <li><a href="/HtmlHelpers/HelperList">Creating Lists</a></li>
                    <li><a href="/HtmlHelpers/StronglyTypedMenu">Strongly Typed Menu</a></li>
                    <li><a href="/HtmlHelpers/EditorExtensions">Editor Extensions</a></li>
                    <li><a href="/HtmlHelpers/Display">Display Template</a></li>
                </ul>
            </li>
            <li>
                Tag Helpers
                <ul>
                    <li><a href="/TagHelpers/Index">Tag Helpers</a></li>
                    <li><a href="/TagHelpers/LabelHelper">Label Tag Helpers</a></li>
                    <li><a href="/TagHelpers/InputHelper">Input Tag Helpers</a></li>
                    <li><a href="/TagHelpers/FormHelper">Validation with Form Tag Helpers</a></li>
                    <li><a href="/TagHelpers/EnvironmentHelper">Environment Tag Helper</a></li>
                    <li><a href="/TagHelpers/Markdown">Custom Tag Helper - Markdown</a></li>
                    <li><a href="/TagHelpers/MarkdownAttribute">Custom Tag Helper with Attribute - Markdown</a></li>
                    <li><a href="/TagHelpers/CustomTable">Custom Table Tag Helpers</a></li>
                </ul>
            </li>
        </ul>      
    </nav>
</body>
</html>
