@{
    ViewBag.Title = "Layout Using Sections";
}
<h2>Layout Using Sections</h2>
<div>Main content here</div>
@section PageNavigation
    {
    <div>Navigation defined from the view</div>
    <ul>
        <li>Nav1</li>
        <li>Nav2</li>
    </ul>
}
