
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PassingData</title>
</head>
<body>
    <div>
        <div>@ViewBag.MyData</div>
    </div>
</body>
</html>
